{% extends 'base.html.twig' %}

{% block title %}Users list{% endblock %}

{% block body %}
{{ include('user/app.html.twig') }}

<table class=" table table-bordered  ">

<h1 class="h2" style="text-align: left; line-height:60px; margin-left: 40px;" >Users List</h1>
 
    <thead >
          <tr >
            <th class="text-center " scope="col">User Id</th>
            <th class="text-center"  scope="col"> User name</th>
            <th class="text-center"  scope="col">Email</th>
            <th class="text-center" scope="col" >Edit</th>
          </tr>
        </thead>
        {% for user in users %}
        <tbody>
            <td class="text-center" >{{ user.id }}</td>
            <td class="text-center" >{{ user.name }}</td>
            <td class="text-center" >{{ user.email}}</td>
            <td class="text-center">
              <a href="{{path('updateuser' ,{'id' : user.id})}}"class="btn btn-outline-success"style="margin-right:8px;" >Update</a>
              <a href="{{path('deleteuser' ,{'id' : user.id})}}"class="btn btn-outline-danger"style="margin-right:8px;" >Delete</a>
            </td>
        </tbody>  
       {% endfor %}
      </table>

{% endblock %}